@import url("./__container/places__container.css");
@import url("./__place/places__place.css");
@import url("./__title/places__title.css");
@import url("./__image/places__image.css");
@import url("./__link/places__link.css");
@import url("./__url-heading/places__url-heading.css");
@import url("./__paragraph/places__paragraph.css");

.places {
  max-width: 984px;
  position: relative;
  margin: 92px auto;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
  }
}
