@import url("./__image/lead__image.css");
@import url("./__title/lead__title.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__caption/lead__caption.css");

.lead {
  max-width: 984px;
  width: calc(100% * (984 / 1280));
  text-align: center;
  margin: 58px auto 0px auto;
  padding: 0px;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% * (928 / 1024));
    margin-top: 50px;
    /*padding: 0px 48px 0px 48px;*/
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}
