@import url("./__lang-link/header__lang-link.css");
@import url("./__lang-link/_active/header__lang-link_active.css");
@import url("./__lang-links/header__lang-links.css");
@import url("./__logo/header__logo.css");
@import url("./__list-iem/header__list-item.css");

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  min-height: 44px;
  max-width: 984px;
  margin: 34px auto 0px auto;
}

@media screen and (max-width: 1024px) {
  .header {
    /*width: calc(100% - 96px);*/
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(100% - 32px);
    min-height: 36px;
    margin-top: 20px;
  }
}
