.intro__text {
  max-width: 690px;
  margin: 32px auto 0px auto;
  padding: 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
    font-size: 16px;
    line-height: 26px;
  }
}
