@import url(./__author/footer__author.css);
@import url(./__link/footer__link.css);
@import url(./__items/footer__link-items.css);
@import url(./__links/footer__links.css);
@import url(./__links-item/footer__links-item.css);

.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px auto 24px auto;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    /*max-width: 168px;*/
    margin-left: 16px;
  }
}
